/**********************************************************************/

/*Main*/

/**********************************************************************/
/*flex on main for center elements in page*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  /*card size and grid 2 columns*/
  .card {
    position: relative;
    width: 920px;
    height: 509px;
    display: grid;
    grid-template-columns: 45% 55%;
    background: rgb(250, 250, 250);
    border-radius: 22px;

    /*Media =>set card size*/
    @media screen and (max-width: 990px) {
      display: block;
      width: 328px;
      height: 535px;
    }
    /*set background img*/
    .img-bg {
      height: 509px;
      max-width: 920px;
      display: flex;
      justify-content: flex-end;
      background: url(..//../images/illustration-woman-online-desktop.svg)
          bottom 80px left -80px no-repeat,
        url(..//..//images/bg-pattern-desktop.svg) bottom -150px left -570px
          no-repeat;

      /*Media =>delete images*/
      @media screen and (max-width: 990px) {
        display: none;
      }
    }
    /*add internet img*/
    .img-internet {
      position: absolute;
      background: url(..//../images/illustration-box-desktop.svg) no-repeat;
      width: 100%;
      height: 100%;
      top: 40%;
      left: -10%;
      transition: 0.4s ease-in;

      /*Media =>delete images*/
      @media screen and (max-width: 990px) {
        display: none;
      }
    }
    /*setting for mobile image*/
    .img-mobile {
      position: absolute;
      display: none;
      /*setting for mobile image*/
      @media screen and (max-width: 990px) {
        display: block;
        width: 328px;
        height: 1000px;
        background: url(..//../images/illustration-woman-online-mobile.svg) top
          0px left 0px no-repeat;
        z-index: 99;
        top: -150px;
        left: 60px;
        zoom: 72%;
      }
    } /*setting for mobile image*/
    .img-mobile2 {
      position: absolute;
      display: none;
      /*setting for mobile image*/
      @media screen and (max-width: 990px) {
        display: block;
        width: 328px;
        height: 1000px;
        background: url(..//../images/bg-pattern-mobile.svg) top 0px left 40px
          no-repeat;
        top: 0px;
        left: 0px;
      }
    }
    /*Faq part*/
    .card-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 90px 0 70px;

      @media screen and (max-width: 990px) {
        padding: 25px;
      }

      h1 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 20px;

        @media screen and (max-width: 990px) {
          text-align: center;
          margin-top: 100px;
        }
      }
      /*Faq part*/
      .faq {
        border-bottom: 1px solid $Darkgrayishblue;
        cursor: pointer;
        z-index: 99;

        .question {
          display: grid;
          grid-template-columns: 94% 6%;
          height: 50px;
          align-items: center;
          transition: 0.4s ease-in;

          h2 {
            font-weight: 400;
            font-size: 1rem;

            @media screen and (max-width: 990px) {
              font-size: 0.9rem;
            }

            &:hover {
              color: $Softred;
              font-weight: bold;
            }
          }

          .btn {
            height: 8px;
            width: 10px;
            margin-top: 4px;
            transition: 0.4s ease-in;
          }
        }
        .answer {
          max-height: 0;
          display: none;
          font-size: 0.85rem;
          color: $Darkgrayishblue;
        }
      }

      /* active element to interact with js*/

      .active .question h2 {
        font-weight: 800;
      }

      .active .answer {
        display: block;
        max-height: 100px;
        margin-bottom: 18px;
        animation: fade 0.5s ease-in;
      }

      .active img {
        transform: rotate(180deg);
      }

      @keyframes fade {
        from {
          opacity: 0;
          transform: translateY(-5px);
        }
        to {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }
}
